Repository maxhoesel-ansible/ansible-collection-pterodactyl, pull requests merged in 2023-11, with the labels that each got.

#167 chore: bump ansible to 2.16
  .circleci/config.yml
Labels: chore

#166 :bug: Fixed a bug when using a specific character in $DB_PASSWORD
  roles/pterodactyl_panel/molecule/default/molecule.yml
  roles/pterodactyl_panel/templates/env.j2
Labels: pr-patch, roles

#168 panel: add pterodactyl_panel_environment_only var
  roles/pterodactyl_panel/README.md
  roles/pterodactyl_panel/defaults/main.yml
  roles/pterodactyl_panel/templates/env.j2
Labels: pr-minor, roles

#169 panel: update backups config, add AWS_USE_PATH_STYLE_ENDPOINT
  roles/pterodactyl_panel/README.md
  roles/pterodactyl_panel/defaults/main.yml
  roles/pterodactyl_panel/templates/env.j2
Labels: pr-minor, roles
